# The following list give you the different possibilities to gather power consuption on servers
# see "type" field:
#	ilo: for Gen9 HP server using OEM API (prefer redfish is supported)
#	ilo-gui: for Gen8 HP Server, web gui scrapping (prefer redfish is supported)
#	redfish: for server support Redfish REST API
#	ipmi: using impitool. See "grammar" dicionary in ipmicolector.py for supported manufacturer
# idrac8-gui: for DELL iDrac V8 iBMC, web gui scrapping (prefer redfish is supported)
# intel-gui: for Intel servers, web gui scrapping (prefer redfish is supported)
# ibmc-gui: for Huawei servers, web gui scrapping (prefer redfish is supported)
PODS:
- environment: YOUR-SERVER-GROUP-NAME
  # polling internval in seconds
  polling_interval: 10
  # Following parameter is optional (default is True)
  #active: False|True 
  servers:
  # HP ILO Server (Gen9)
  - host: server-ip-or-name[:port]
  # At your choice
    id: server-id
    type: ilo
    user: ilo-user
    pass: ilo-user-password
    # Following parameter is optional (default is True)
    # active: False|True 

  # HP ILO Server (GUI Hacking, Gen8))
  - host: server-ip-or-name[:port]
  # At your choice
    id: server-id
    type: ilo-gui
    user: ilo-user
    pass: ilo-user-password
    # Following parameter is optional (default is True)
    # active: False|True 

  # DELL IDRAC8 Server (GUI Hacking))
  - host: server-ip-or-name[:port]
  # At your choice
    id: server-id
    type: idrac8-gui
    user: idrac-user
    pass: idrac-user-password
    # Following parameter is optional (default is True)
    # active: False|True 

  # INTEL Server (GUI Hacking))
  - host: server-ip-or-name[:port]
  # At your choice
    id: server-id
    type: intel-gui
    user: web-console-user
    pass: web-console-user-password
    # Following parameter is optional (default is True)
    # active: False|True 

  # HUAWEI iBMC  Server (GUI Hacking))
  - host: server-ip-or-name[:port]
  # At your choice
    id: server-id
    type: ibmc-gui
    user: web-console-user
    pass: web-console-user-password
    # Following parameter is optional (default is True)
    # active: False|True 

  #redfish server
  - host: server-ip-or-name[:port]
  # At your choice
    id: server-id
    type: redfish
    user: redfish-user
    pass: redfish-user-password
    # Following parameter is optional (default is True)
    # active: False|True 

    #Generic IPMI (see ipmicollector.py to see supported hardware)
  - host: server-ip-or-name[:bidged-address] # ex 192.168.0.1 or if bidging required 192.168.0.1:0x82
  # At your choice
    id: server-id
    type: ipmi
    user: ipmi-user
    pass: ipme-user-password
    # Following parameter is optional (default is True)
    # active: False|True 

RECORDER_API_SERVER:
  base_url: http://energy.opnfv.fr
  pass: ''
  user: ''
